{% extends 'accounts/base2.html' %}
{% load static %}
{% load widget_tweaks %}
{% load socialaccount %}
{% providers_media_js %}


{% block my_css %}

<link rel="stylesheet" href="{% static "accounts/css/register.css" %}">

{% endblock my_css %}

{% block content %}

<div class="container-fluid ">
       <div class="row">
           <div class="col-7">
            <img  src="{% static "accounts/images/new/login_landing.png"%}" width="100%"  >
           </div>
           <div class="col-5">
               <div class="container-content" >
            <img class="logo" src="{% static "accounts/images/new/jn_logo.svg"%}" >

            <p>Welcome back</p>
            <h1><span style="color:#FF485E">Jump In Now</span>  Account!</h1>
            
            <hr style="border: 1.5px solid #FF485E; background-color: #FF485E; width: 55%; margin-left: 0%;">
            
            <div class="container-form " style="text-align:center;  " >
            
                <div class="row" style="margin-left: 23%; margin-top: 2%;">
                {% comment %} <button class="social"> <img src="https://img.icons8.com/color/35/000000/facebook-circled--v1.png"/></button>
            <button class="social"><img src="https://img.icons8.com/color/35/000000/instagram-new--v1.png"/></button>
            <button class="social"> <img src="https://img.icons8.com/color/35/000000/twitter--v1.png"/></button>
            <button class="social"> <img src="https://img.icons8.com/color/35/000000/youtube-play.png"/></button> {% endcomment %}
                </div>
                {% include 'accounts/includes/_messages.html' %}
               {% comment %} <p> <span style="color:#FF485E; font-size: large;">OR </span> </p> {% endcomment %}
            <form class="w-100 theme-form mt-5" method="POST" action="{% url 'index' %}">
        {% csrf_token %}
               <div class="row g-3 form-group" style="width: 80%; margin-left: 10%; font-size: 1.1rem; ">
                  <input type="text" class="form-control"  name="username" id="staticEmail" placeholder="Enter email/username" style="padding:20px;">
                </div>

                <div class="row g-3 form-group" style="margin-top: 10%; width: 80%;margin-left: 10%; font-size: 1.1rem;  ">
                    <input id="password-field" type="password" name="password" class="form-control"  placeholder="Confirm Password" style="padding:20px;">
                </div>
                <a href="{% url 'reset_password' %}">
                <p style="font-size: 1rem; text-align: right; margin-right: 43px ;">Forgot password?</p>
                </a>
              
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked style="color: #FF485E;">
                    <label class="form-check-label" for="flexCheckChecked">
                    Keep me signed in
                    </label>
                  </div>

              <button id="next1" type="submit" class="btn btn-lg btn-primary submit" style="font-weight: light; font-size: medium; margin-top: 5%;">Login</button>
</form>
              <!-- <p style="color: #FF485E; font-size: medium; ">By joining I agree to receive emails from JumpNow</p> -->

              <p style="font-size: medium;">Dont have an account? <a href="{% url 'register_landing' %}" style="text-decoration: none;"><span style="color: #FF485E;">Sign Up Now</span></a></p>
          
            </form>



         


     </div>


         </div>


        
           </div>
       </div>

    </div>

{% endblock content %}

{% block my_js %}
  <script src="{% static 'accounts/js/register_new.js' %}"></script>
{% endblock my_js %}