{% extends 'accounts/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load socialaccount %}
{% providers_media_js %}

{% block my_css %}

<link rel="stylesheet" href="{% static "accounts/css/register_marketer.css" %}">
<link rel="icon" type="image/x-icon" href="{% static 'accounts/images/logo/Group450@2x.png' %}">

{% endblock my_css %}

{% block content %}
    <main class="main_register">
        <section class="register_left">
            <div class="left_contents_all">
                <div class="logo">
                    <a href="">
                        <img class="logo" src="{% static "accounts/images/new/jn_logo.svg"%}" >
                    </a>
                </div>
                <div class="registration_text">
                    <span class="text_left_im">Your <strong>Influencer Marketing</strong> process just got easy</span>
                </div>
                <div class="sign_in_txt">
                    Already have an account? <strong>  <a href="{% url 'index' %}">Log In</a></strong>
                </div>
            </div>

        </section>

        <section class="register_right">
            <div class="form_register">
                <form action="{% url 'register' %}" method="post">
                    {% csrf_token %}

                    <!-- Heading Elements Form -->
                    <div class="logo_2">
                        <a href="">
                            <img class="logo" src="{% static "accounts/images/new/jn_logo.svg"%}" >
                        </a>
                    </div>

                    <div class="heading_form">
                        <span>
                            Register into <strong style="color: #DA001B;">JumpNow</strong>
                        </span>
                    </div>

                    <!-- Main Form -->

                    {% include 'accounts/includes/_messages.html' %}
                    <div>
                    {% render_field form.first_name class="form-control" placeholder="First Name" required="" %}
                    </div>

                    <div>
                    {% render_field form.last_name class="form-control" placeholder="Last Name" required="" %}
                    </div>

                    <div>
                    {% render_field form.username class="form-control" placeholder="Email ID" required="" %}
                    </div>

                    <div>
            <input type="text" class="form-control" name="mobile_number" placeholder="Phone No." required>
                    </div>


                    <div>
            {% render_field form.password1 class="form-control password" placeholder="Password" required="" %}
                    </div>

                    <div>
            {% render_field form.password2 class="form-control password" placeholder="Confirm Password" required="" %}
                    </div>


                    <div class="submit_btn">
                        <input id="next" onclick="myclick()" class="submit_register" type="submit">
                    </div>
                        
                </input>

                <div class="footer_text">
                    <p>
                        By joining I agree to receive emails from JumpNow 
                    </p>
                </div>

                <div class="sign_in_txt_2">
                    Already have account? <strong>  <a href="{% url 'index' %}" style="color: #DA001B;">Sign In</a></strong>
                </div>

                </form>
            </div>
        </section>

    </main>

    {% endblock %}

    {% block my_js %}
  <script src="{% static 'accounts/js/register.js' %}"></script>
{% endblock my_js %}