{% load static %}
<div class="col-4">
    <div class="featured-image">
        <div class="top">
            <img src="{% static 'discovery/images/discovery-landing/featured-influencer-1.png' %}" alt="" srcset="">
        </div>
        <div class="overlay">
            <div class="row">
                <div class="col-3">
                    <span>
                        <img src="{% static 'discovery/images/discovery-landing/influencer-dp.png' %}" alt="" srcset="">
                    </span>
                </div>
                <div class="col-9 pt-1 pl-4">
                    <span class="mt-3">
                        {{inf.profile.user.first_name}} {{inf.profile.user.last_name}} <br/>
                        <i class="fa fa-map-marker"></i> India
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="featured-about">
        <div class="starting my-3">
            <span class="font-weight-bold"> Influencer </span> | {{inf.connected_profiles}}
        </div>

        <div class="description">
            <p>
                {{inf.featured_text}}
            </p>
        </div>
    </div>
</div>
