{% extends 'engage/base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block my_css %}
<link rel="stylesheet" href="{% static 'engage/css/main.css' %}">
<link rel="stylesheet" type="text/css" href="{% static "accounts/css/vendors/select2.css"%}">
{% endblock my_css %}


{% block content %}
    <!-- tap on top starts-->
    
    <!-- tap on tap ends-->
    <!-- page-wrapper Start-->
    
      
      <!-- Page Header Ends                              -->
      <!-- Page Body Start-->
      
        <!-- Page Sidebar Start-->
        {% include 'discovery/includes/_sidebar.html' %}
        <!-- Page Sidebar Ends-->

          <div class="page-body">
        {% include 'accounts/includes/_messages.html' %}
            <div class="spacer-small"></div>
            <div class="row">
              <div class="col-7">
                <div class="card">
                  <div class="card-header">
                    Direct Offer
                  </div>
                  <div class="card-body">
                    <table class="display" id="gigs-table">
                      <thead>
                          <tr>
                              <th>Gig</th>
                              <th>Description</th>
                              <th>Open for Bidding</th>
                              <th>Active</th>
                              <th>End Date Bid</th>
                              <th>Budget</th>
                              <th>Timestamp</th>
                          </tr>
                      </thead>
                      <tbody>
                          {% for g in gigs %}
                              <tr>
                                  <td>{{g.name}}</td>
                                  <td>{{g.description}}</td>
                                  <td>{{g.open_for_bidding}}</td>
                                  <td>{{g.active}}</td>
                                  <td>{{g.end_date_bid}}</td>
                                  <td>{{g.budget}}</td>
                                  <td>{{g.timestamp}}</td>
                              </tr>
                          {% endfor %}
                      </tbody>
                  </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="spacer-small"></div>
            <div class="row">
              <div class="col-7">
                <div class="card">
                  <div class="card-header">
                    <h3>Create Direct Offer</h3>
                  </div>
                  <div class="card-body">
                    <div class="row do-form">
                      <form action="" method="post">
                      {% csrf_token %}
                        <div class="col-12">
                            <label for="gig_select_main">Select Gig</label>
                            {% render_field form.gig_id id="gig_select_main" class="form-control" placeholder="Select Gig" required="" %}
                        </div>
                        <div class="col-12">
                            <label for="creator_select_main">Select Creator</label>
                            {% render_field form.creator id="creator_select_main" class="form-control" placeholder="Select Creator" required="" %}
                        </div>
                        <div class="col-12">
                            <label for="amount_id">Offer Amount</label>
                            {% render_field form.amount class="form-control" placeholder="Direct Offer Amount (in USD)" required="" %}
                        </div>
                        <div class="col-12 text-center">
                        <label for="expires_id">Expires after</label>
                            <input class="touchspin" name="expires_in" type="number" data-bts-init-val="7" data-bts-postfix="Days" >
                        </div>

                        <button type="submit" class="btn btn-primary">Create</button>

                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>

        </div>
        
{% endblock content %}

{% block my_js %}
<script src="{% static "accounts/js/select2/select2.full.min.js"%}"></script>
<script src="{% static "accounts/js/touchspin/touchspin.js"%}"></script>
<script src="{% static "engage/js/create-do.js" %}"></script>
{% endblock my_js %}
    