{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'dashboard/css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/css/active.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/css/social.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet" />

    <script src="https://kit.fontawesome.com/c92a8baa98.js" crossorigin="anonymous"></script>


    <script src="{% static " dashboard/js/jquery-3.5.1.min.js "%}"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.2/dist/jquery.validate.min.js"></script>
    <script src="{% static " dashboard/js/bootstrap/popper.min.js "%}"></script>
    <script src="{% static " dashboard/js/bootstrap/bootstrap.js "%}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.2/jquery.matchHeight-min.js" integrity="sha512-/bOVV1DV1AQXcypckRwsR9ThoCj7FqTV2/0Bm79bL3YSyLkVideFLE3MIZkq1u5t28ke1c0n31WYCOrO01dsUg==" crossorigin="anonymous"></script>
    <script src="{% static " dashboard/js/functions/csrf-cookie.js " %}"></script>
    <script src="https://unpkg.com/feather-icons"></script>
    <script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
    <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAz_Kk1s3YrBt1uYF3CQgYKACnR0NQjBuY&libraries=places">
    </script>
    <title>Creators-Dashboard</title>
</head>

<body>

    <main class="main_static">
        <div class="btn_close">
            <button onclick="closeMenu()" class="btn_menu btn_cross" id="btn_close"> <i
                    class="fas fa-times"></i></button>
        </div>
        <header class="header_dashboard">
            <div class="header_main">
                <div class="menu_text">
                    <div class="menu hamburger-menu">
                        <button class="btn_menu btn_ham" id="btn_ham"><i class="fas fa-bars"
                                onclick="openMenu()"></i></button>
                        <ul class="menu__box" id="menu_box">
                            <div class="image_head">
                                <img src="{% static 'dashboard/images/logo.png' %}" alt="" height="30px" width="140px">
                            </div>
                            <div class="image_container_user">
                                <div class="profile_image">
                                    <img src="{% static 'dashboard/images/profile_image.png' %}" alt="" height="73px" width="73px">

                                </div>
                                <div class="user_name_tag">
                                    <span>{{request.user.first_name}}
                                        <!-- {{request.user.last_name}} -->
                                    </span>
                                    <span style="display: block;">
                                        <i data-feather="check-circle"></i>
                                    </span>
                                </div>


                            </div>

                            <li>
                                <a class="menu__item tab" href="#" data-set-tab="#dashboard">
                                    <div class="icon_sidebar"><i data-feather="grid" class="icons_sidebar"></i></div>
                                    Dashboard
                                </a>
                            </li>
                            <li>
                                <a class="menu__item tab" href="#" data-set-tab="#campaigns">
                                    <div class="icon_sidebar"><i data-feather="bar-chart-2" class="icons_camp"></i>
                                    </div>
                                    Campaigns
                                </a>
                            </li>
                            <li>
                                <a class="menu__item tab" href="#" data-set-tab="#socials">
                                    <div class="icon_sidebar"><i data-feather="slack" class="icons_socials"></i></div>
                                    Socials
                                </a>
                            </li>
                            <li>
                                <a class="menu__item tab" href="#" data-set-tab="#payment">
                                    <div class="icon_sidebar"><i class="fas fa-money-check-alt icons_payment"></i>
                                    </div> Payments
                                </a>
                            </li>
                            <li>
                                <a class="menu__item tab" href="#" data-set-tab="#profiles">
                                    <div class="icon_sidebar"><i data-feather="user" class="icons_profiles"></i></div>
                                    My Profile
                                </a>
                            </li>

                            <div class="icons_left" style="margin-top: 60px;">
                                <span> <i class="fas fa-cog"></i></span>
                                <span><i class="far fa-bell"></i></span>
                                <span><i class="far fa-question-circle"></i></span>
                            </div>

                            <div class="sign_out">
                                <a href="{% url 'logout' %}" style="color: black;text-decoration: none;">
                                    <i data-feather="log-out" class=""></i> <span>Sign Out</span>
                                </a>
                            </div>


                        </ul>
                    </div>
                    <div class="text">
                        <!-- <span>Hey <strong class="profile_name">{{request.user.first_name}} !</strong> </span> -->
                        <!-- <div class="jn_text"><span>Welcome to jumpNow</span></div> -->
                    </div>
                </div>
                <div class="side_dots side_notification" style="display: none;">
                    <div class="notification_nav_right">
                        <!-- <div class="noti_icons"> -->
                        <div class="noti_icon_1">
                            <img src="{% static 'dashboard/images/direct_message.svg' %}" alt="" height="20px" width="20px">
                        </div>
                        <div class="noti_icon_2">
                            <img src="{% static 'dashboard/images/notification.svg' %}" alt="" height="20px" width="20px">
                        </div>
                        <!-- </div> -->

                        <div class="right_side_profile_info">
                            <div class="profile_image_nav">
                                <img src="{% static 'dashboard/images/Group450@2x.png' %}" alt="">
                            </div>
                            <div class="profile_info_right">
                                <span class="user_name_main">{{request.user.first_name}} {{request.user.last_name}}
                                </span>
                                <span class="user_amount_main">$100.00</span>
                            </div>
                        </div>

                    </div>

                    <i class="fas fa-ellipsis-v mobile_dots"></i>
                </div>
            </div>
        </header>
        <!-- END of header -->
        </div>




        {% block content_creator %}
        <section class="section_dashboard">
            <div class="social_icons_new" id="social_icons_new">
                <div class="icon_set_1">
                    <!-- Icon 1 -->
                    <div class="icon_set_container">
                        <div class="icons_card card_1">
                            <!-- <div class="icon_main"> -->
                            <img class="img_social_fb" src="{% static 'dashboard/images/facebook_1.png' %}" alt="">
                            <!-- </div> -->
                            <div class="icon_desc">
                                <!-- <a href="{% url 'social:begin' 'facebook' %}"> -->
                                Facebook
                                <!-- </a>  -->
                                {# <a href="{% provider_login_url 'facebook' method= 'js_sdk' %}">Facebook</a>#}


                            </div>
                            <div class=" twitter">
                                {% if 'facebook' in connected_accounts %}
                                <button class="btn connect-btn success" disabled>
                                    <i style="color: black;" class="fas fa-check"></i>
                                </button> {% else %}
                                <a class="btn connect-btn" id="facebook-connect-button">
                                    <i class="fas fa-plus"></i>
                                </a>
                                {% endif %}
                            </div>
                        </div>
                        <span class="icon_set_border set_1"></span>
                    </div>


                    <!-- Icon-2 -->
                    <div class="icon_set_container">
                        <div class="icons_card card_2">
                            <!-- <div class="icon_main"> -->
                            <img class="img_social_twt" src="{% static 'dashboard/images/blue_twitter.svg' %}" alt="">
                            <!-- </div> -->
                            <div class="icon_desc">
                                <!-- <a href="{% url 'social:begin' 'twitter' %}"> -->
                                Twitter
                                <!-- </a> -->
                            </div>
                            <div class=" twitter">
                                {% if 'twitter' in connected_accounts %}
                                <button class="btn connect-btn success" disabled>
                                    <i style="color: black;" class="fas fa-check"></i>
                                </button> {% else %}
                                <a class="btn connect-btn" id="twitter-connect-button">
                                    <i class="fas fa-plus"></i>
                                </a>
                                {% endif %}
                            </div>
                        </div>
                        <span class="icon_set_border set_2"></span>
                    </div>
                </div>
                <div class="icon_set_2">
                    <!-- Icon-2 -->
                    <div class="icon_set_container">
                        <div class="icons_card card_3">
                            <!-- <div class="icon_main"> -->
                            <img class="img_social_ig" src="{% static 'dashboard/images/instagram_creator.png' %}" alt="">
                            <!-- </div> -->
                            <div class="icon_desc">
                                Instagram
                            </div>
                            <div class=" instagram">
                                {% if 'instagram' in connected_accounts %}
                                <button class="btn connect-btn success" disabled>
                                    <i style="color: black;" class="fas fa-check"></i>
                                </button> {% else %}
                                <a class="btn connect-btn" id="instagram-connect-button">
                                    <i class="fas fa-plus"></i>
                                </a>
                                {% endif %}
                            </div>
                        </div>
                        <span class="icon_set_border set_3"></span>
                    </div>
                    <!-- Icon-4 -->
                    <div class="icon_set_container">
                        <div class="icons_card card_4">
                            <!-- <div class="icon_main"> -->
                            <img class="img_social_yt" src="{% static 'dashboard/images/youtube_social_circle.png' %}" alt="">
                            <!-- </div> -->
                            <div class="icon_desc">
                                Youtube
                            </div>
                            <div class="youtube">
                                {% if 'youtube' in connected_accounts %}
                                <button class="btn connect-btn success" disabled>
                                    <i style="color: black;" class="fas fa-check"></i>
                                </button> {% else %}
                                <a href="{% url 'youtube_connect' %}" style="color: black;">
                                    <a class="btn connect-btn" id="youtube-connect-button">
                                        <i class="fas fa-plus"></i>
                                    </a>
                                </a>
                                {% endif %}
                            </div>
                        </div>
                        <span class="icon_set_border set_4"></span>
                    </div>
                </div>
            </div>

            <section class="active" data-set-target id="dashboard">
                <div class="dashboard_text_container">
                    <div class="text_dashboard_1">
                        <span>
                            One Platform that connects
                        </span>
                    </div>
                    <div class="text_dashboard_mid">
                        <span>
                            you to brands 
                        </span>
                    </div>
                    <div class="text_dashboard_2">
    
                        <span>
                            and multiple Campaigns
                        </span>
                        <!--                     <a href="{% url 'social:begin' 'twitter' %}">Login with Twitter</a> -->
                        <!-- <a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a>
                        <a href="{% url 'social:begin' 'twitter' %}">Login with Twitter</a> -->
    
                    </div>
                </div>
    
                <div class="chat_button">
                    <button>
                        <a href="">
                            <i data-feather="message-circle"></i>
                        </a>
                    </button>
                </div>
    
    
    
            </section>
        </section>
        {% block content_creator %}


    </main>

    <!-- Section Main Content -->


    <main class="dyn_content">

        <!---------------------- CAMPAIGNS --------------------->
        <section id="campaigns" data-set-target>
            <h1>Campaigns</h1>
        </section>

        <!-- Section Socials -->
        <section id="socialss" data-set-target>
            <section class="section_dashboard">
                <div class="social_icons" id="social_icons">
                    <div class="icon_set_1">
                        <!-- Icon 1 -->
                        <div class="icon_set_container">
                            <div class="icons_card card_1">
                                <div class="icon_main">
                                    <img class="img_social" src="./assets/images/socials/facebook.png" alt="">
                                </div>
                                <div class="icon_desc">
                                    Facebook
                                </div>
                                <div class="icon_plus">
                                    <img class="plus_icon" src="./assets/images/others/plus.png" alt="">
                                </div>
                            </div>
                            <span class="icon_set_border set_1"></span>
                        </div>


                        <!-- Icon-2 -->
                        <div class="icon_set_container">
                            <div class="icons_card card_2">
                                <div class="icon_main">
                                    <img class="img_social" src="./assets/images/socials/twitter.png" alt="">
                                </div>
                                <div class="icon_desc twitter">
                                    <!-- Twitter -->

                                </div>
                                <div class="icon_plus">
                                    <img class="plus_icon" src="./assets/images/others/plus.png" alt="">
                                </div>
                            </div>
                            <span class="icon_set_border set_2"></span>
                        </div>

                    </div>
                    <div class="icon_set_2">
                        <!-- Icon-2 -->
                        <div class="icon_set_container">
                            <div class="icons_card card_3">
                                <div class="icon_main">
                                    <img class="img_social" src="./assets/images/socials/instagram.png" alt="">
                                </div>
                                <div class="icon_desc">
                                    Instagram
                                </div>
                                <div class="icon_plus">
                                    <img class="plus_icon" src="./assets/images/others/plus.png" alt="">
                                </div>
                            </div>
                            <span class="icon_set_border set_3"></span>
                        </div>
                        <!-- Icon-4 -->
                        <div class="icon_set_container">
                            <div class="icons_card card_4">
                                <div class="icon_main">
                                    <img class="img_social" src="./assets/images/socials/youtube.png" alt="">
                                </div>
                                <div class="icon_desc">
                                    Youtube
                                </div>
                                <div class="icon_plus">
                                    <img class="plus_icon" src="./assets/images/others/plus.png" alt="">
                                </div>
                            </div>
                            <span class="icon_set_border set_4"></span>
                        </div>
                    </div>
                </div>
            </section>
        </section>

        <!-- Payments -->
        <section id="payments" data-set-target>
            <h1>payment</h1>
        </section>

        <!-- Profiles -->



    </main>






    {#-------------Facebook Modal-------------#}
    <div class="modal fade" id="facebook-connect-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Connect your Facebook Account</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'facebook_connect' %}" id="facebook-connect-form" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col">
                                <div class="mb-3 modal-padding">
                                    <label class="form-label" for="facebook-username">Facebook Username</label>
                                    <input class="form-control facebook_1" id="facebook-username" name="facebook-username" type="text" placeholder="Username" required="required" data-bs-original-title="" title="">
                                </div>
                                <button class="btn btn-square btn-light button_connect" id="facebook-connect-btn" type="submit" title="">Connect</button>
                                <img src="{% static " accounts/images/loader/loader-contact.gif "%}" id="fb-loading" style="width: 20px; height: auto;" alt="">
                                <span id="fb-warning" class="txt-warning" style="display:none;"><i
                                        class="fa fa-warning"></i></span>
                                <span id="fb-success" class="txt-success">
                                    <p>facebook account connected successfully!</p>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {#-------------Facebook Modal End-------------#} {#-------------Twitter Modal--------------#}
    <div class="modal fade" id="twitter-connect-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Connect your Twitter Account</h5>
                    <button type="button" data-dismiss="modal" aria-label="Close" class="close" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'twitter_connect' %}" id="twitter-connect-form" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col">
                                <div class="mb-3 modal-padding">
                                    <label class="form-label" for="twitter-username">Twitter Username</label>
                                    <input class="form-control twitter_1" id="twitter-username" name="twitter-username" type="text" placeholder="Username" required="required" data-bs-original-title="" title="">
                                </div>
                                <button class="btn btn-square btn-light button_connect" id="twitter-connect-btn" type="submit" title="">Connect</button>
                                <img src="{% static " accounts/images/loader/loader-contact.gif "%}" id="it-loading" style="width: 20px; height: auto;" alt="">
                                <span id="it-warning" class="txt-warning" style="display:none;"><i
                                        class="fa fa-warning"></i></span>
                                <span id="it-success" class="txt-success">
                                    <p>twitter account connected successfully!</p>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {#-------------Twitter Modal End--------------#} {#-------------Instagram Modal--------------#}
    <div class="modal fade" id="instagram-connect-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Connect your Instagram Account</h5>
                    <button type="button" data-dismiss="modal" class="close" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'instagram_connect' %}" id="instagram-connect-form" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col">
                                <div class="mb-3 modal-padding">
                                    <label class="form-label" for="instagram-username">Enter your Instagram Username</label>
                                    <input class="form-control instagram_1" id="instagram-username" name="instagram-username" type="text" placeholder="Username" required="required" data-bs-original-title="" title="">
                                </div>
                                <button class="btn btn-square btn-light button_connect" id="instagram-connect-btn" type="submit" title="">Connect</button>
                                <img src="{% static " accounts/images/loader/loader-contact.gif "%}" id="ic-loading" style="width: 20px; height: auto;" alt="">
                                <span id="ic-warning" class="txt-warning" style="display:none;"><i
                                        class="fa fa-warning"></i></span>
                                <span id="ic-success" class="txt-success">
                                    <p>Instagram account connected successfully!</p>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {#-------------Twitter Modal End--------------#} {#-------------Youtube Modal--------------#}
    <div class="modal fade" id="youtube-connect-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Connect your Youtube Account</h5>
                    <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'youtube_connect' %}" id="youtube-connect-form" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col">
                                <div class="mb-3 modal-padding">
                                    <label class="form-label" for="youtube-username">Youtube Username</label>
                                    <input class="form-control youtube_1" id="youtube-username" name="youtube-username" type="text" placeholder="Username" required="required" data-bs-original-title="" title="">
                                </div>
                                <button class="btn btn-square btn-light button_connect" id="youtube-connect-btn" type="submit" title="">Connect</button>
                                <img src="{% static " accounts/images/loader/loader-contact.gif "%}" id="yt-loading" style="width: 20px; height: auto;" alt="">
                                <span id="yt-warning" class="txt-warning" style="display:none;"><i
                                        class="fa fa-warning"></i></span>
                                <span id="yt-success" class="txt-success">
                                    <p>Youtube account connected successfully!</p>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {#-------------Youtube Modal End--------------#}






    <script src="{% static 'dashboard/js/dashboard.js' %}">
    </script>
    <script src="{% static 'dashboard/js/social_connect/facebook_connect.js' %}"></script>
    <script src="{% static 'dashboard/js/social_connect/twitter_connect.js' %}"></script>
    <script src="{% static 'dashboard/js/social_connect/instagram_connect.js' %}"></script>
    <script src="{% static 'dashboard/js/social_connect/youtube_connect.js' %}"></script>

    <script>
        feather.replace()
        $(".chosen-select").chosen({
            no_results_text: "Oops, nothing found!",
            max_selected_options: 3
        })
    </script>

</body>

</html>