<title>Deliverables</title>

{% extends 'dashboard/base_creator.html' %}
<!--  -->

{% load static %}
<!--  -->

{% block content_creator %}
    <style>
            .header_deliverable{
                display: flex;
                align-items: center;
                margin-bottom: 34px;
            }

            .container_creator_deliverables{
                width: 833.12px;
                height: 576.88px;overflow-y: scroll;
                background: #FFF7F8;
                box-shadow: -1px -2px 4px rgba(0, 0, 0, 0.07), 1px 2px 4px rgba(0, 0, 0, 0.07);
                display: flex;
                justify-content: flex-start;
                flex-direction: column;
                align-items: center;
            }

            .center_deliverable{
                width: 100%;
                display: flex;
                justify-content: center;
                height: 85vh;
                overflow:scroll;
            }

            .plat_deliver{
                display: flex;
                flex-direction: column;
                width: 400px;
            }

            .button_start_creating{
                display: flex;
                width: 200px;
            }

            .twitter{
                color: #03A9F4;
;
            }

            .instagram{
                color: orangered;
            }

            .facebook{
                color: blue;
            }

            .youtube{
                color: red;
            }

            .start_creating{
                background: linear-gradient(0deg, #FEC4CC, #FEC4CC), #FFFFFF;
                border-radius: 4px;
                width: 143.29px;
                height: 30.27px;
                font-size: 13px;
            }




    </style>



<div class="header_deliverable">
    <a href="">
    <i data-feather="chevron-left">
    </i> 
</a>
<span>Deliverable</span>

</div >

    <div class="center_deliverable">
        <div class="container_creator_deliverables">
        
        
            {% if deliverable %}
                {% for deliverable in deliverable %}
            <div style="border-bottom: 1px solid #FCD1D7;width: 
            701.31px;padding: 3%;display: flex;align-items: center; ">
                <div class="plat_deliver">
                    <div style="margin-bottom: 8px;">
                        Platform: <img src="../../static/dashboard/images/{{ deliverable.platform }}.png" width="20px" height="20px" alt="">
                         <span class="{{ deliverable.platform }}" style="text-transform: capitalize;">{{ deliverable.platform }}</span>
                    </div>
                    <div>
                        Deliverbale: <span style="color:#A8A8A8;text-transform: capitalize; ">{{ deliverable.deliverable }}</span>
                    </div>
                </div>
            
            
    <div class="button_start_creating">
        {% if assigned_creator.payment %}
        <a href="{% url 'content_creation' deliverable.id %}"><button class="start_creating">
            Start creating..
        </button></a> 
        {% else %}
        <button style="color: gray;">
            Start Creating
        </button>

    {% endif %}
    </div>
            </div>
                {% endfor %} 
            {% else %}
                <span style="color: red">No deliverables to show</span>
            {% endif %}
        </div>
    </div>

{% endblock content_creator %}