{% extends 'main/base_landing_page.html' %}
{% load static %}
{% block content %}

<style>
    .home_link{
        color: #DA001B !important;
    }
</style>


<main class="big_screens">
    <!-- MATCHES -->
    <div class="upper_l_r">
        <div class="left_main">
            <div class="about_matches">
                <div class="match_head">
                    <span style=" color:#DA001B">
                        #influencers &nbsp;&nbsp; #collab &nbsp;&nbsp; #paid &nbsp;&nbsp; #brand &nbsp;&nbsp; #roi
                    </span>
                </div>
                <div class="match_main_head">
                    <span>
                        Influencer marketing automation,
                    </span> <br>
                    <span>
                        <span class="red">Simplified</span>.
                    </span>
                </div>
                <div class="match_sub_head">
                    <span>
                        JumpNow’s top network of Influencers reach over 10 million consumers every month. Generate
                        your buzz now!
                    </span>
                </div>
            </div>

            <div class="menu_list">
                <div class="upper_menu">
                    <ul class="list_flex">
                        <li>
                            <span>
                                Discover creators in no time.
                            </span>
                        </li>
                        <li>
                            <span>
                                Connect with creators directly.
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="lower_menu">
                    <ul class="list_flex">
                        <li>
                            <span>
                                Create campaigns instantly.
                            </span>
                        </li>
                        <li>
                            <span>
                                Negotiate & Pay in one go!
                            </span>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- FORM -->
            <div class="form_upper">
                <form class="form_get_started" action="">
                    <input required type="text" placeholder="your work email" name="get_started">
                    <button class="button_get_started">
                        Get Started
                    </button>
                </form>
            </div>
        </div>
        <div class="right_main">
            <img src="{% static 'main/images/mrinaa.svg' %}" height="400px" width="400px" alt="">
        </div>
    </div>

    <!-- About Company -->

    <div class="good_company">
        <div class="text_comapny">
            <span>
                You’re in
                <span class="red">
                    good company:
                </span>
            </span>
        </div>
        <div class="images_company">
            <div class="img_1">
                <img src="https://beautyclinic.org.in/assets/images/logo.png" alt="">
            </div>

            <div class="img_1">
                <img src="https://thesecrethaircare.com/logo-dark1.png" alt="">
            </div>

            <div class="img_1">
                <img src="https://in.sugarcosmetics.com/desc-images/SUGARLogo1.png" alt="">
            </div>

            <!-- IMG-2 -->
            <div class="img_1">
                <img src="https://cdn.shopify.com/s/files/1/0019/3183/7503/files/logo_fcaf6dcb-cd8a-47fa-89c6-6d7edd79dc9c_300x300.png?v=1604384498"
                    height="50px" alt="">
            </div>

            <!-- IMG-3 -->

            <div class="img_1">
                <img src="https://cdn.shopify.com/s/files/1/0178/3798/1796/files/g12_100x.png?v=1636951328"
                    height="50px" width="100px" style="margin-top: 10px;" alt="">
            </div>

            <!-- IMG-4 -->
            <div class="img_1">
                <img src="https://cdn.shopify.com/s/files/1/0276/3112/4591/files/Auric-Drinks-Logo_200x.png?v=1606730385"
                    alt="">
            </div>
        </div>
    </div>
    <!-- Hastag Piad Line -->
    <div class="has_paid">
        <span>
            Use <strong style=" color:#DA001B"> #jumpnow</strong> to drive growth at every stage of your customers
            journey
        </span>
    </div>



    <!-- Hello Brands -->


    <div class="hello_bands_container">
        <!--image slider start-->
        <div class="image_brand_left">
            <img style="box-shadow: 0px 7px 29px -9px #ff8a8a;border: none;"
                src="{% static 'main/images/landing_images/lists.svg' %}" alt="">
        </div>
        <!--image slider end-->


        <div class="text_brand_right">
            <div class="brand">
                <span class="heading_brand"> Brands</span>
            </div>
            <div class="brand">
                <span>Hello <span class="red">Marketers</span> &#128075; </span>
            </div>

            <div class="para_brand">
                <span>

                    Reach more people and build brand awareness with our curated Influencer Directory.
                    We can easily find your champion and turn them into an advocate to help you reach
                    the right audience.
                    <!-- Get consumers talGet consumers talking about your brand and buying 
                your products with creator marketingking about youGet consumers talking about your
                 brand and buying your products with creator marketingr brand and buying your products with
                  creator marketing -->
                </span>
            </div>

            <div class="button_see_more">
                <div>
                    <button>
                        Get Started
                    </button>
                </div>

                <div class="anchor_see_more">
                    <a href="">Read More</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Hello Creators -->
    <div class="hello_creators_containers">
        <div class="text_brand_right margin_rt text_bottom_res">
            <div class="brand">
                <span class="heading_influ"> Influencers.</span>
            </div>
            <div class="brand">
                <span>Hello <span class="red">Creators</span> &#128588;</span>
            </div>

            <div class="para_brand">
                <span>
                    Jump Now gives you access to the hottest brand collaborations with just a couple of clicks.
                    Simply
                    sign up, and we’ll send you exclusive paid and barter collabs direct to your phone and mail.
                    Simple and Fast.
                </span>
            </div>

            <div class="button_see_more">
                <div>
                    <button>
                        Get Started
                    </button>
                </div>

                <div class="anchor_see_more">
                    <a href="">Read More</a>
                </div>
            </div>
        </div>

        <div class="image_brand_right image_top_res">
            <img style="box-shadow: 0px 7px 29px -9px #ff8a8a;border: none;"
                src="{% static 'main/images/landing_images/crOne.svg' %}" alt="">
        </div>


    </div>



    <!-- Testimonials -->

    <div class="testimonial_container">

        <div class="testimonials">
            <span class="title">What our clients have to say?</span>
            <p class="description">We've been helping <span class="red">Creators and Marketers</span> to do their
                best since 2021.</p>

            <div class="slider-container slider_big_screen">
                <div class="slider">
                    <div class="slide-box">
                        <!-- Testi One -->
                        <p class="comment">
                            With JumpNow, I really like the way everyone is so systematic. It’s been easy dealing
                            with everyone is your team tbh and that’s my reason
                            for coming back for more campaigns. So kudos to the team! </p>
                        <img
                            src="https://cdn.shopify.com/s/files/1/0178/3798/1796/files/g12_100x.png?v=1636951328" />
                        <h3 class="name">Riya Arora</h3>
                        <h4 class="job">Influencer Marketing Manager | Slurrp Farm</h4>
                    </div>
                    <div class="slide-box">
                        <!-- Testi One -->
                        <p class="comment">
                            With JumpNow, I really like the way everyone is so systematic. It’s been easy dealing
                            with everyone is your team tbh and that’s my reason
                            for coming back for more campaigns. So kudos to the team! </p>
                        <img
                            src="https://cdn.shopify.com/s/files/1/0178/3798/1796/files/g12_100x.png?v=1636951328" />
                        <h3 class="name">Riya Arora</h3>
                        <h4 class="job">Influencer Marketing Manager | Slurrp Farm</h4>
                    </div>
                    <div class="slide-box">
                        <!-- Testi One -->
                        <p class="comment">
                            With JumpNow, I really like the way everyone is so systematic. It’s been easy dealing
                            with everyone is your team tbh and that’s my reason
                            for coming back for more campaigns. So kudos to the team! </p>
                        <img
                            src="https://cdn.shopify.com/s/files/1/0178/3798/1796/files/g12_100x.png?v=1636951328" />
                        <h3 class="name">Riya Arora</h3>
                        <h4 class="job">Influencer Marketing Manager | Slurrp Farm</h4>
                    </div>


                </div>

                <a href="#!" class="control-slider btn-left">
                    <i data-feather="chevron-left" class="fas fa-chevron-left"></i>
                </a>
                <a href="#!" class="control-slider btn-right">
                    <i data-feather="chevron-right" class="fas fa-chevron-right"></i>
                </a>
            </div>
        </div>
    </div>

    <!-- NewsLetter -->
    <div class="newsletter_container">
        <div class="newsletter_header">
            <span>

            </span>
        </div>

        <div class="newsletter_forms_header">
            <div class="sub_heading_nl">
                <span class="nl_upper_text">
                    We'll drop you Updates.
                </span>
                <span class="nl_lower_text">
                    Get new updates on <span class="red">Features</span> and <span class="red">Collabs</span> that
                    we have to offer
                </span>
            </div>
            <div class="form_upper">
                <form class="form_get_started" action="">
                    <input required type="text" placeholder=" enter your email" name="get_started">
                    <button class="button_get_started">
                        Subscribe
                    </button>
                </form>
            </div>
        </div>
    </div>

</main>

<main class="mobile">

    <div class="upper_web">
        <div class="about_matches">
            <div class="match_head">
                <span style=" color:#DA001B">
                    #influencers &nbsp;&nbsp; #collab &nbsp;&nbsp; #paid &nbsp;&nbsp; #brand &nbsp;&nbsp; #roi
                </span>
            </div>
            <div class="match_main_head">
                <span>
                    Influencer marketing
                </span> <br>
                <span>
                    automation, <span class="red">Simplified</span>.
                </span>
            </div>
            <div class="match_sub_head">
                <span>
                    JumpNow’s top network of Influencers reach over 10 million consumers every month. Generate
                    your buzz now!
                </span>
            </div>
        </div>
        <div class="menu_list">
            <div class="upper_menu">
              
                        <span class="list_items">
                            <span class="list_dot" ></span> Discover creators in no time.
                        </span> <br>
                   
                        <span class="list_items" >
                            <span class="list_dot" ></span>   Connect with creators directly.
                        </span> <br>
            </div>
            <div class="lower_menu">
               
                        <span class="list_items" >
                            <span class="list_dot" ></span>   Create campaigns instantly.
                        </span> <br>
                    
                        <span class="list_items" >
                            <span class="list_dot" ></span>   Negotiate & Pay in one go!
                        </span> <br>
                   
            </div>
        </div>

        <div class="form_upper">
            <form class="form_get_started" action="">
                <input required type="text" placeholder="your work email" name="get_started">
                <button class="button_get_started">
                    Get Started
                </button>
            </form>
        </div>
        
    </div>

    <div class="good_company">
        <div class="text_comapny">
            <span>
                You’re in
                <span class="red">
                    good company:
                </span>
            </span>
        </div>
        <div class="images_company">
            <div class="img_1">
                <img src="https://beautyclinic.org.in/assets/images/logo.png" alt="">
            </div>

            <div class="img_1">
                <img src="https://thesecrethaircare.com/logo-dark1.png" alt="">
            </div>

            <div class="img_1">
                <img src="https://in.sugarcosmetics.com/desc-images/SUGARLogo1.png" alt="">
            </div>

            <!-- IMG-2 -->
            <div class="img_1">
                <img src="https://cdn.shopify.com/s/files/1/0019/3183/7503/files/logo_fcaf6dcb-cd8a-47fa-89c6-6d7edd79dc9c_300x300.png?v=1604384498"
                    height="50px" alt="">
            </div>

            <!-- IMG-3 -->

            <div class="img_1">
                <img src="https://cdn.shopify.com/s/files/1/0178/3798/1796/files/g12_100x.png?v=1636951328"
                    height="50px" width="100px" style="margin-top: 10px;" alt="">
            </div>

            <!-- IMG-4 -->
            <div class="img_1">
                <img src="https://cdn.shopify.com/s/files/1/0276/3112/4591/files/Auric-Drinks-Logo_200x.png?v=1606730385"
                    alt="">
            </div>
        </div>
    </div>


    <div class="has_paid">
        <span>
            Use <strong style=" color:#DA001B"> #jumpnow</strong> to drive growth at every stage of your customers
            journey
        </span>
    </div>

    <div class="hello_bands_container">
        <!--image slider start-->
        <div class="image_brand_left">
            <img style="box-shadow: 0px 7px 29px -9px #ff8a8a;border: none;"
                src="{% static 'main/images/landing_images/lists.svg' %}" alt="">
        </div>
        <!--image slider end-->


        <div class="text_brand_right">
            <div class="brand">
                <span class="heading_brand"> Brands</span>
            </div>
            <div class="brand">
                <span>Hello <span class="red">Marketers</span> &#128075; </span>
            </div>

            <div class="para_brand">
                <span>

                    Reach more people and build brand awareness with our curated Influencer Directory.
                    We can easily find your champion and turn them into an advocate to help you reach
                    the right audience.
                    <!-- Get consumers talGet consumers talking about your brand and buying 
                your products with creator marketingking about youGet consumers talking about your
                 brand and buying your products with creator marketingr brand and buying your products with
                  creator marketing -->
                </span>
            </div>

            <div class="button_see_more">
                <div>
                    <button>
                        Get Started
                    </button>
                </div>

                <div class="anchor_see_more">
                    <a href="">Read More</a>
                </div>
            </div>
        </div>
    </div>

    <div class="hello_bands_container">
        <!--image slider start-->
        <div class=" ONE_ image_brand_left">
            <img style="box-shadow: 0px 7px 29px -9px #ff8a8a;border: none;"
                src="{% static 'main/images/landing_images/crOne.svg' %}" alt="">
        </div>
        <!--image slider end-->
        <div class=" TWO_ text_brand_right">
            <div class="brand">
                <span class="heading_influ"> Influencers.</span>
            </div>
            <div class="brand">
                <span>Hello <span class="red">Creators</span> &#128588;</span>
            </div>

            <div class="para_brand">
                <span>

                    Jump Now gives you access to the hottest brand collaborations with just a couple of clicks.
                    Simply
                    sign up, and we’ll send you exclusive paid and barter collabs direct to your phone and mail.
                    Simple and Fast.
                    <!-- Get consumers talGet consumers talking about your brand and buying 
                your products with creator marketingking about youGet consumers talking about your
                 brand and buying your products with creator marketingr brand and buying your products with
                  creator marketing -->
                </span>
            </div>

            <div class="button_see_more">
                <div>
                    <button>
                        Get Started
                    </button>
                </div>

                <div class="anchor_see_more">
                    <a href="">Read More</a>
                </div>
            </div>
        </div>
    </div>


    <div class="testimonial_container">

        <div class="testimonials">
            <span class="title">What our clients have to say?</span>
            <p class="description">We've been helping <span class="red">Creators and Marketers</span> to do their
                best since 2021.</p>

            <div class="slider-container">
                <div class="sliders slider" id="slider_main">
                    <div class="slide-box">
                        <!-- Testi One -->
                        <p class="comment">
                            With JumpNow, I really like the way everyone is so systematic. It’s been easy dealing
                            with everyone is your team tbh and that’s my reason
                            for coming back for more campaigns. So kudos to the team! </p>
                        <img
                            src="https://cdn.shopify.com/s/files/1/0178/3798/1796/files/g12_100x.png?v=1636951328" />
                        <h3 class="name">Riya Arora</h3>
                        <h4 class="job">Influencer Marketing Manager | Slurrp Farm</h4>
                    </div>
                    <div class="slide-box">
                        <!-- Testi One -->
                        <p class="comment">
                            With JumpNow, I really like the way everyone is so systematic. It’s been easy dealing
                            with everyone is your team tbh and that’s my reason
                            for coming back for more campaigns. So kudos to the team! </p>
                        <img
                            src="https://cdn.shopify.com/s/files/1/0178/3798/1796/files/g12_100x.png?v=1636951328" />
                        <h3 class="name">Riya Arora</h3>
                        <h4 class="job">Influencer Marketing Manager | Slurrp Farm</h4>
                    </div>
                    <div class="slide-box">
                        <!-- Testi One -->
                        <p class="comment">
                            With JumpNow, I really like the way everyone is so systematic. It’s been easy dealing
                            with everyone is your team tbh and that’s my reason
                            for coming back for more campaigns. So kudos to the team! </p>
                        <img
                            src="https://cdn.shopify.com/s/files/1/0178/3798/1796/files/g12_100x.png?v=1636951328" />
                        <h3 class="name">Riya Arora</h3>
                        <h4 class="job">Influencer Marketing Manager | Slurrp Farm</h4>
                    </div>


                </div>

                <a href="#!" class="control-slider btn-left" id="btn_left_slider">
                    <i data-feather="chevron-left" class="fas fa-chevron-left"></i>
                </a>
                <a href="#!" class="control-slider btn-right" id="btn_right_slider">
                    <i data-feather="chevron-right" class="fas fa-chevron-right"></i>
                </a>
            </div>
        </div>
    </div>


    <div class="newsletter_container">
        <div class="newsletter_header">
            <span>

            </span>
        </div>

        <div class="newsletter_forms_header">
            <div class="sub_heading_nl">
                <span class="nl_upper_text">
                    We'll drop you Updates.
                </span>
                <span class="nl_lower_text">
                    Get new updates on <span class="red">Features</span> and <span class="red">Collabs</span> that
                    we have to offer
                </span>
            </div>
            <div class="form_upper">
                <form class="form_get_started" action="">
                    <input required type="text" placeholder=" enter your email" name="get_started">
                    <button class="button_get_started button_get_started_2">
                        Subscribe
                    </button>
                </form>
            </div>
        </div>
    </div>



</main>


{% endblock content %}