{% extends 'accounts/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block my_css %}

<style>
    .login-card{
        background-image: url('{% static 'accounts/images/svg_bg/Scattered-Forcefields.svg' %}')
    }
</style>

{% endblock my_css %}

{% block content %}

<div class="container-fluid p-0"> 
      <div class="row">
        <div class="col-12">     
          <div class="login-card">
            <div>
              <div><a class="logo" href="/"><img class="img-fluid for-light" src="{% static "accounts/images/logo/logo.png"%}" style="width: 200px; height: auto;" alt="looginpage"><img class="img-fluid for-dark" src="{% static "accounts/images/logo/logo.png"%}" alt="looginpage"></a></div>
              <div class="login-main">
              {% include 'accounts/includes/_messages.html' %}
              {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="form-errors">
                            <div class="alert alert-danger outline alert-dismissible fade show" role="alert">
                                {{ error|escape }}
                                <button class="close" type="button" data-dismiss="alert" aria-label="Close" data-original-title="" title=""><span aria-hidden="true">×</span></button>
                              </div>
                          </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="form-errors">
                      <div class="alert alert-danger outline alert-dismissible fade show" role="alert">
                          {{ error|escape }}
                          <button class="close" type="button" data-dismiss="alert" aria-label="Close" data-original-title="" title=""><span aria-hidden="true">×</span></button>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}

                  <h4>Password reset complete</h4>

<p>Your password has been set. You may go ahead and log in now.</p>

                  <p class="mt-4 mb-0"><a class="ml-2" href="{% url 'index' %}">Login</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      {% endblock content %}

	  {% block my_js %}
    <script src="{% static 'accounts/js/password_reset/password_reset_form.js' %}"></script>
  {% endblock my_js %}